* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    text-align: center;
    font-size: 16px;
    
}

body {
  margin: auto;
}

h1 {
    font-size: 1rem;
    color: rgb(49, 4, 104);
    margin: 0.5em;
    padding: 0.5em;
}
.container {
  border: 10px solid rgb(33, 3, 61);
  min-width: 90%;
  max-width: 95%;
  min-height: 80vh;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 10%;
}



#dog-images {
    max-width: 95%;
    margin: 0 auto;
}

.logo,
.buttons {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.logo {
    justify-content: space-between;
}

.buttons {
    justify-content: center;
}

.logo img {
    width: 10%;
}

.logo .red-logo {
    width: 20%;
}

#content {
    position: relative;
    min-height: 60vh;
    padding: 0em auto;
}

#dog-images {
    width: 100%;
    padding: 0.5em;
    
    border-radius: 5%;
    object-fit: cover;
}

#hidden-like,
#hidden-nope {
    width: 30%;
    position: absolute;
    
    top: 50px;
    left: 80px;
    transform: rotate(-15deg);
    
}

@media (max-width: 375px) {
    .container {
        background: blue;
    }
}

#bio {
    /*background: blue;*/
    width: 80%;
    color: white;
    position: absolute;
    
    top: 300px;
    left: 30px;
    
    
    
}

#bio h3, #bio p {
    text-align: left;
    
}

#bio h3 {
    font-size: 1.2rem;
}

small {
    font-size: 1em;
}

#btn-1,
#btn-2 {
   border-radius: 50%;
   padding: 1em;
   margin-left: 1em;
   border: 0;
}

#btn-1:hover,
#btn-2:hover {
  opacity: 0.5;
  box-shadow: 3px 2px #888888;
}

.end-program{
    
    width: 85%;
    padding: 1em;
    border-radius: 10%;
    background: grey;
    color: white;
    margin: 2em auto;
    text-align: center;
}

@media (min-width: 667px) {

#bio {
    /*background: blue;*/
   
    top: 600px;
    left: 50px;
    
}

#bio h3, #bio p {
    text-align: left;
    
}

#bio h3 {
    font-size: 1.7rem;
}

small {
    font-size: 1.5em;
}

}


@media (min-width: 867px) {

    .container {
        min-width: 20vw;
        max-width: 30vw;
    }

    #hidden-like,
    #hidden-nope {
        max-width: 25%;
        top: 20px;
    } 

    #bio {
        /*background: blue;*/
       
        top: 300px;
        left: 30px;
        
    }
    
    #bio h3, #bio p {
        text-align: left;
        
    }
    
    #bio h3 {
        font-size: 1.2rem;
    }
    
    small {
        font-size: 0.8em;
    }

    #btn-1,
    #btn-2 {
        padding: 0.5em;
    }

}